@import "fonts";
@import "mq";
@import "palette";
@import "app";

// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}

:root {
    --brand-primary: #F6D44E;
  }
  
  * {
    box-sizing: border-box;
  }
  figure.element {
    margin-top: 0 !important;
  }
  
#Live {
    margin-top: 5vh;
  }

#Glabs {
    background-color: #F1EEEA;
    color: #000;
    @import 'videojs';
    @import "common";
    @import "brother";
    @import "audioPlayer";    
}  